<ion-header >
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" 
        defaultHref="configuracao/:modulo/processos"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'HEADER_PROCESSO'|translate}}</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content ion-padding>

  <form [formGroup]="fg" >

    <ion-item lines="full" class="label">
      <ion-label for="id" stacked>{{ 'LABEL_ID' | translate }}</ion-label>
      <ion-input id="id" disabled="true" formControlName="id" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full" class="label">
      <ion-label for="situacao" position="floating">{{ 'LABEL_SITUACAO' | translate }}</ion-label>
      <ion-select id="situacao" formControlName="situacao" class="caixa"  disabled="{{id==0}}">
        <ion-select-option value="A">{{ 'ATIVO' | translate }} </ion-select-option>
        <ion-select-option disabled="{{desabilita}}" value="I">{{ 'INATIVO' | translate }}</ion-select-option>
        <ion-select-option value="S">{{ 'SUSPENSO' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full" class="label">
      <ion-label for="modulo" position="floating" class="label">{{ 'LABEL_MODULO' | translate }}</ion-label>
      <ion-select id="modulo"  formControlName="modulo" class="caixa">
        <ion-select-option *ngFor="let p of modulos" [value]="p.id">{{p.titulo}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full"  class="label">
      <ion-label for="titulo" position="floating" class="label">{{ 'LABEL_TITULO' | translate }}</ion-label>
      <ion-input id="titulo" formControlName="titulo" type="text"
        class="caixa" clear-input="ture" spellcheck="false" maxlength="25">
      </ion-input>
    </ion-item>

    <ion-item lines="full" class="label">
      <ion-label for="path" position="floating">{{ 'LABEL_PATH' | translate }}</ion-label>
      <ion-input id="path" formControlName="path" type="text" 
        class="caixa" clear-input="ture" spellcheck="false"  maxlength="25" >
      </ion-input>
    </ion-item>
    
    <ion-item lines="full" class="label">
      <ion-label for="icone" position="floating">{{ 'LABEL_ICONE' | translate }}</ion-label>
      <ion-input id="icone" formControlName="icone" type="text" 
        class="caixa" clear-input="ture" spellcheck="false" maxlength="50" >
      </ion-input>
    </ion-item>
    
  </form>
</ion-content>

<ion-footer >
  <ion-toolbar color="tabela">
    <ion-buttons slot="end">
      <ion-button color="salvar"  (click)="save()"  [disabled]="fg.invalid">
        <ion-icon  name="save" ></ion-icon> {{ 'BOTAO_SALVAR' | translate }}
      </ion-button>
      <ion-button color="delete" (click)="delete()" disabled="{{!excluir}}">
        <ion-icon name="trash" ></ion-icon> {{ 'BOTAO_EXCLUIR' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
