<ion-header >
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" 
        defaultHref="configuracao/:modulo/acessos"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'HEADER_ACESSOS'|translate}}</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content ion-padding>

  <div id="conteudo">

    <div id="campos">

      <ion-item lines="full" class="label">
        <ion-label position="floating">{{ 'LABEL_PERFIL' | translate }}</ion-label>
        <ion-select id="perfil"  [(ngModel)]="perfil" class="caixa">
          <ion-select-option *ngFor="let p of perfis" [value]="p.id">{{p.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full" class="label">
        <ion-label position="floating">{{ 'LABEL_MODULO' | translate }}</ion-label>
        <ion-select id="modulo"  [(ngModel)]="modulo" class="caixa">
          <ion-select-option *ngFor="let m of modulos" [value]="m.id">{{m.titulo}}</ion-select-option>
        </ion-select>
      </ion-item>
          
    </div>

    <div id="botoes">
      <ion-list >    
        <ion-button class="button" (click)="pesquisar()" expand="block"> 
          <ion-icon slot="start" name="search"></ion-icon>
          {{ 'BOTAO_PESQUISAR' | translate }}
        </ion-button>
      </ion-list>
    </div>

  </div>

</ion-content>
