<ion-header >
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" 
        defaultHref="configuracao/:modulo/modulos"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'MODULO'|translate}}</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content ion-padding>

  <form [formGroup]="fg" >

    <ion-item lines="full" class="label">
      <ion-label for="id" stacked>{{ 'LABEL_ID' | translate }}</ion-label>
      <ion-input id="id" disabled="true" formControlName="id" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full" class="label">
      <ion-label for="situacao" position="floating">{{ 'LABEL_SITUACAO' | translate }}</ion-label>
      <ion-select id="situacao" formControlName="situacao" class="caixa"  disabled="{{id==0}}">
        <ion-select-option value="A">{{ 'ATIVO' | translate }} </ion-select-option>
        <ion-select-option disabled="{{desabilita}}" value="I">{{ 'INATIVO' | translate }}</ion-select-option>
        <ion-select-option value="S">{{ 'SUSPENSO' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full"  class="label">
      <ion-label for="titulo" position="floating" class="label">{{ 'LABEL_TITULO' | translate }}</ion-label>
      <ion-input id="titulo" formControlName="titulo" type="text"
        class="caixa" clear-input="ture" spellcheck="false" maxlength="25">
      </ion-input>
    </ion-item>

    <ion-item lines="full" class="label">
      <ion-label for="path" position="floating">{{ 'LABEL_PATH' | translate }}</ion-label>
      <ion-input id="path" formControlName="path" type="text" 
        class="caixa" clear-input="ture" spellcheck="false"  maxlength="25" >
      </ion-input>
    </ion-item>
    
    <ion-item lines="full" class="label">
      <ion-label for="icone" position="floating">{{ 'LABEL_ICONE' | translate }}</ion-label>
      <ion-input id="icone" formControlName="icone" type="text" 
        class="caixa" clear-input="ture" spellcheck="false" maxlength="50" >
      </ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button class="button" color="header" (click)="save()" expand="block" [disabled]="fg.invalid"> 
          <ion-icon name="save"></ion-icon>
          {{ 'BOTAO_SALVAR' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button *ngIf="excluir" color="delete" class="button" (click)="delete()" expand="block" > 
          <ion-icon name="trash"></ion-icon>
          {{ 'BOTAO_EXCLUIR' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
