<ion-header >
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" defaultHref="edi-cliente/:modulo"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'HEADER_PREPARACAO'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="button-header" size="small" color="dark" (click)="find()">
        <ion-icon slot="icon-only" name="search" ></ion-icon>
      </ion-button>
      <ion-button class="button-header" size="small" color="dark" (click)="addObject()">
        <ion-icon slot="icon-only" name="add-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
   
</ion-header>

<ion-content>

</ion-content>
