<ion-header>
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'EDI-CLIENTE'|translate}}</ion-title>
  </ion-toolbar>  
</ion-header>
 
<ion-content ion-padding >
      
  <div class="page-content" >

    <ion-card class="imagem150"> 
      <img src="/assets/img/edi-cliente.png" alt=""/>
      <ion-card-header> 
        <ion-button class="opcoes " (click)="ajuda()" fill="clear"> 
          <ion-icon  name="help-circle"></ion-icon>
          {{'OPCOES'|translate}}
        </ion-button>
      </ion-card-header>
    </ion-card>
  
    <ion-list>
      <ion-buttons auto-hide="false" *ngFor="let p of processos">
        <ion-item [routerDirection]="'root'" [routerLink]="p.path">
          <img [src]="p.icone"/>
          <ion-label class="padding-left-10"> 
            {{p.titulo}}
          </ion-label>
        </ion-item>
      </ion-buttons>
    </ion-list>

  </div>

</ion-content>
