<ion-header >
  <ion-toolbar color="header">
    <ion-buttons slot="start">
      <ion-back-button class="button-header" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title >{{'PROFILE'|translate}}</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content class="profile"  >
  <div class="page-content" >

    <div >
      <img class="circulo" [src]="usuario?.imageUrl || 'assets/img/avatar_user.png' "/>    
    </div> 

    
    <div class="dados">
      <p class="negrito">{{usuario?.nome}}</p>
      <p >{{usuario?.cpf}}</p>
      <p >{{usuario?.email}}</p>
    </div>

  </div>
</ion-content>
