<ion-header  class="page-header">
  <ion-buttons  slot="start">  
    <ion-back-button class="up_20" defaultHref="home"></ion-back-button>
    <ion-title class="down_11">{{'PROFILE'|translate}}</ion-title>
  </ion-buttons>
</ion-header>

<ion-content class="profile"  >
  <div class="page-content" >

    <div >
      <img class="circulo" [src]="usuario?.imageUrl || 'assets/img/avatar_user.png' "/>    
    </div> 

    
    <div class="dados">
      <p class="negrito">{{usuario?.nome}}</p>
      <p >{{usuario?.cpf}}</p>
      <p >{{usuario?.email}}</p>
    </div>

  </div>
</ion-content>
