/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
 
.bold100 {
    font-weight: 1000;
}

.bold90 {
    font-weight: 900;
}

.bold70 {
    font-weight: 700;
}

.bold50 {
    font-weight: 500;
}


.up_12 {
    position: relative; top: -12px;
}

.down_11 {
    position: relative; left: 30px; top: 11px;
}

.padding-left-10 {
    padding-left: 10px;
}

.link  {
    text-decoration: underline; color: #3e70db;
}
 
.opcoes {
    text-align: center; padding-left:15%; color: #3e70db;
  }

.footer {
    border: solid 1px #18208b; font-size: 20px; 
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5px; padding-left: 20px;
    background-color: rgb(79, 157, 209); height: 30px;
}

.titulo {
    text-align: center; color: #221D5F;
    font-size: 20px; font-family: cursive;
  }

.dados {
    padding: 10px;
}

.espaco-horiz {
    padding-left: 20px;
}

.espaco-vertic {
    padding-top: 10px; 
}

.espaco-vertic20 {
    padding-top: 20px; 
}

.caixa {
    font-weight: 700; font-family: 'Times New Roman', serif; color: rgb(10, 61, 119);
}

.help {
    font-size: 18px; font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  }

.label {
    font-family: 'Times New Roman'; font-style: italic; color: #000000;
}

.imagem120 img {
    width: 120px;  height: 120px; align-self: center;  margin: auto;
    display: block;  overflow: hidden;  
}

.imagem150 img {
    width: 150px;  height: 150px; align-self: center;  margin: auto;
    display: block;  overflow: hidden;  
}

.imagem200 img {
    width: 200px;  height: 200px; align-self: center;  margin: auto;
    display: block;  overflow: hidden;  
}
 
.page-cont {
    background-color: #fff;
    &::after {
    content: "";
    background: url("/assets/img/page_content.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    }
}

.page-header {
    background: url("/assets/img/page_header.png") repeat;
    height: 7%; 
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; font-weight: bold; color: #fff;    
    position: absolute;
}

.sobe {
    padding-bottom: 10px;
}
.page-content {
    background: url("/assets/img/page_content.jpg") no-repeat;
    height: 93%;
    width: 100%;
    padding-top: 10px;
}

.button {
    min-height: 25px;
}

.button-header {
    font-weight: bolder;
}

.tabela {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; font-style: italic; 
}

.text-ident {
    text-indent: 2em; padding-top:  5px; padding-bottom: 5px;
}


.title-header {
    padding-top: 20px;
}

:root {
    --ion-color-header:#1E90FF;
    --ion-color-header-rgb: 105,187,123;
    --ion-color-header-contrast: #ffffff;
    --ion-color-header-contrast-rgb: 255,255,255;
    --ion-color-header-shade: #ee8b4a;
    --ion-color-header-tint: #b68935;
}

.ion-color-header {
    --ion-color-base: var(--ion-color-header);
    --ion-color-base-rgb: var(--ion-color-header-rgb);
    --ion-color-contrast: var(--ion-color-header-contrast);
    --ion-color-contrast-rgb: var(--ion-color-header-contrast-rgb);
    --ion-color-shade: var(--ion-color-header-shade);
    --ion-color-tint: var(--ion-color-header-tint);
}

:root {
    --ion-color-tabela:#87CEEB;
    --ion-color-tabela-rgb: 105,187,123;
    --ion-color-tabela-contrast: #ffffff;
    --ion-color-tabela-contrast-rgb: 255,255,255;
    --ion-color-tabela-shade: #abd9f8;
    --ion-color-tabela-tint: #b6deee;
}

.ion-color-tabela {
    --ion-color-base: var(--ion-color-tabela);
    --ion-color-base-rgb: var(--ion-color-tabela-rgb);
    --ion-color-contrast: var(--ion-color-tabela-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tabela-contrast-rgb);
    --ion-color-shade: var(--ion-color-tabela-shade);
    --ion-color-tint: var(--ion-color-tabela-tint);
}

:root {
    --ion-color-delete:#c76509;
    --ion-color-delete-rgb: 105,187,123;
    --ion-color-delete-contrast: #ffffff;
    --ion-color-delete-contrast-rgb: 255,255,255;
    --ion-color-delete-shade: #ee8b4a;
    --ion-color-delete-tint: #b68935;
}

.ion-color-delete {
    --ion-color-base: var(--ion-color-delete);
    --ion-color-base-rgb: var(--ion-color-delete-rgb);
    --ion-color-contrast: var(--ion-color-delete-contrast);
    --ion-color-contrast-rgb: var(--ion-color-delete-contrast-rgb);
    --ion-color-shade: var(--ion-color-delete-shade);
    --ion-color-tint: var(--ion-color-delete-tint);
}

:root {
    --ion-color-salvar:#198033;
    --ion-color-salvar-rgb: 105,187,123;
    --ion-color-salvar-contrast: #ffffff;
    --ion-color-salvar-contrast-rgb: 255,255,255;
    --ion-color-salvar-shade: #198033;
    --ion-color-salvar-tint: #198033;
}

.ion-color-salvar {
    --ion-color-base: var(--ion-color-salvar);
    --ion-color-base-rgb: var(--ion-color-salvar-rgb);
    --ion-color-contrast: var(--ion-color-salvar-contrast);
    --ion-color-contrast-rgb: var(--ion-color-salvar-contrast-rgb);
    --ion-color-shade: var(--ion-color-salvar-shade);
    --ion-color-tint: var(--ion-color-salvar-tint);
}
