<ion-header  class="page-header">
  <ion-buttons  slot="start">  
    <ion-menu-button class="up_20" defaultHref="home"></ion-menu-button>
    <ion-title class="down_11">{{'HOME'|translate}}</ion-title>
  </ion-buttons>
</ion-header>

<ion-content ion-padding>
  <div class="page-content" >
    <ion-card class="imagem150">
      <img src="/assets/img/ethos-ind.png" alt=""/>
      <ion-card-header class="titulo">
        <ion-card-title>{{ 'WELCAME_APP' | translate }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  
    <div class="ion-padding-top ion-text-center anim01" >
      {{ 'OPCAO_SELECIONE' | translate }}
    </div>
  
    <br/>
  
    <ion-button class="ion-text-capitalize link" (click)="help()" fill="clear"> 
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      {{ 'API_DOCUMENTACAO' | translate }}
    </ion-button>
  
    <br/>
    
    <ion-button class="ion-text-capitalize link" (click)="profile()" fill="clear"> 
      <ion-icon slot="start" color="medium" name="md-contact"></ion-icon>
      {{ 'PROFILE' | translate }}
    </ion-button>
  
  </div>

</ion-content>

<ion-footer class="footer">  
  <ion-icon slot="start" name="mail"></ion-icon>
  <ion-label class="email">adriano.lima@ethosindustrial.com.br</ion-label><br/>
  <ion-icon slot="start"  name="phone-portrait"></ion-icon>
  <ion-label class="fone">(15) 3363-9973 / (15) 3363-9680</ion-label>
</ion-footer>
